@model DataBaseFirst.Models.ViewModel.EmployeeViewModel
@{
    ViewBag.Title = "Create";
}

<h3>Create New Employee</h3>
<div class="d-flex justify-content-end">
    <a href="@Url.Action("Index","Employees")" class="btn btn-outline-primary">Back To Employee List</a>
</div>

@using (Html.BeginForm("Create", "Employees",FormMethod.Post,new { enctype = "multipart/form-data" })) 
{
    <div class="row">
        <div class="col-6">
            <h3>Employee Info</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="mb-3">
                @Html.LabelFor(x => x.FirstName, htmlAttributes: new { @class = "control-lable col-3" })
                @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(x => x.lastName, htmlAttributes: new { @class = "control-lable col-3" })
                @Html.EditorFor(x => x.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.lastName, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(x => x.DateOfBirth, htmlAttributes: new { @class = "control-lable col-3" })
                @Html.EditorFor(x => x.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(x => x.Salary, htmlAttributes: new { @class = "control-lable col-3" })
                @Html.EditorFor(x => x.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Salary, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(x => x.IsActive, htmlAttributes: new { @class = "control-lable col-3" })
                @Html.EditorFor(x => x.IsActive)
                @Html.ValidationMessageFor(x => x.IsActive, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <img src="~/Image/NOimages.png" id="Imgfile" alt="Default" width="80" height="80" class="rounded" />
                <div>
                    <input onchange="ReadUrl(this)" type="file" id="UPimage" name="PicturePath" style="display:none" />
                    <label for="UPimage">Uplode Image</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3>Add Skill</h3>
            <div class="d-flex justify-content-end">
                <a href="#" id="btnPlus" style="width:80px" class="btn btn-warning">Add</a>
            </div>
            <div class="SkillContainer">
                @Html.Action("AddSlills","Employees")
            </div>
        </div>
        <div class="justify-content-end d-flex">
            <input type="submit"  value="Create" class="btn btn-primary" />
        </div>
    </div>
}


@*<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    $('#btnPlus').click(function (e) {
        e.preventDefault();
        var SK = $(".SkillContainer")
        $.ajax({
            url: "/Employees/AddSlills",
            type: "GET",
            success: function (data) {
                SK.append(data)
            }
        })
    })
    $(document).on("click", "#deleteSkill", function (e) {
        e.preventDefault();
        $(this).parent().parent().remove()
    })

    function ReadUrl(i) {
        if (i.files && i.files[0]) {
            var readar = new FileReader();
            readar.onload = function (e) {
                $("#Imgfile").attr('src', e.target.result);
            }
            readar.readAsDataURL(i.files[0])
        }
    }
   
</script>*@